
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f49f;
}

nav {
  background-color: #333;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  color: rgb(232, 66, 94);
}

.container {
  background-color: rgba(247, 181, 192, 0.524);
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.card h2 {
  margin: 1rem 0 0.5rem;
  font-size: 1.5rem;
  color: #333;
}

.card p {
  color: #666;
}
